@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.title {
  @include page-title-default;
  width: 100%;
}

.container {
  max-width: 808px;
  width: 100%;
  align-self: flex-start;
}

.tasks {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.message {
  @include reset-text;
  @include text-big-24-400;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}