@import "../../styles/mixins.scss";
@import "../../styles/const.scss";

.page {
  @include reset-text;
  @include text-tiny-12-400;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  width: fit-content;
  height: fit-content;
}
