@import '../../../styles/const.scss';
@import '../../../styles/mixins.scss';

.tab {
  @include reset-button;
  @include text-menu-tabbar-18-400;
  padding-bottom: 18px;
  position: relative;
  z-index: 1;
}

.active {
  border-bottom: 2px solid $primary-color;
}
