@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.tree {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-tree-search-value {
  color: red;
}

.example {
  width: 100%;
  input {
    background-color: $light-gray;
    background: $light-gray url('../../images/icons/search.svg') center left 12px no-repeat;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 8px 12px 8px 48px;
    height: 40px;
    margin-bottom: 24px;
    @include text-search-14-400;
  }
  svg {
    visibility: hidden;
  }
}
