@import '../../styles/const.scss';
@import '../../styles/mixins.scss';

.tabs {
  @include reset-list;
  display: flex;
  gap: 44px;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    border-bottom: 1px solid $gray;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 0;
  }
}

.content {
  padding-top: 40px;
  font-family: $styrene;
  font-size: 24px;
  line-height: 36px;
}
