@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.outer_container {
  padding: 4px 0;
  box-sizing: border-box;
  width: 32px;
  min-height: 115px;
  border-bottom: 1px solid $gray;
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.button {
  @include reset-button;
  width: 100%;
  height: 107px;
  border-radius: 16px;
  &:hover {
    background-color: $light-gray;
  }
}

.svg {
  width: 20px;
  height: 20px;
}

.svg_active {
  transform: rotate(90deg);
}
