// fonts
$styrene: 'Styrene A Web', Arial, Helvetica, sans-serif;
$roboto: 'Roboto', Arial, Helvetica, sans-serif;

// colors
$primary-color: #EF3124;
$black: #0E0E0E;
$light-black: #202022;
$gray: #E9E9EB;
$dark-gray: #838383;
$medium-gray: #DCDDE1;
$light-gray: #F3F4F6;
$white: #FFFFFF;

$sucess-color: #2FC16E;
$critical-color: #EF3124;
$warning-color: #F6BF65;

$button-accent: $light-black;
$button-accent-hover: #29292C;
$button-accent-pressed: #2F2F32;
$button-accent-disabled: $light-gray;

$button-secondary: #E2E3E7;
$button-secondary-hover: $medium-gray;
$button-secondary-pressed: #D2D3D9;
$button-secondary-disabled: #F2F3F5;

$button-tertiary: $white;
$button-tertiary-hover: #F2F3F5;
$button-tertiary-pressed: #EDEDED;
$button-tertiary-disabled: $white;

$status-green-100: #4CA169;
$status-green-10: #CFF1E9;
$status-red-100: #C73322;
$status-red-10: #F9EAE8;
$status-orange-100: #D06F2A;
$status-orange-10: #FAF0E9;
$status-blue-100: #2F7CF6;
$status-blue-10: #EAF1FE;
$status-gray-100: #6F7985;
$status-gray-10: #F0F1F3;
$status-emerald-100: #468F87;
$status-emerald-10: #ECF4F3;
$status-purple-100: #6040B0;
$status-purple-10: #EFEBF7;
