// reset mixins
@mixin reset-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
// reset h1-h6, p
@mixin reset-text {
  margin: 0;
}

@mixin reset-link {
  color: inherit;
  text-decoration: none;
}

@mixin reset-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

// typography mixins
@mixin headline {
  font-family: $styrene;
  line-height: 31.2px;
  font-weight: 700;
  letter-spacing: -1.44px;
}

@mixin headline_xlarge {
  @include headline;
  font-size: 40px;
}

@mixin headline_large {
  @include headline;
  font-size: 24px;
}

@mixin logo-text {
  font-family: $styrene;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.025em;
}

@mixin tiny-text {
  font-family: $roboto;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: -0.24px;
}

@mixin menu-sidebar-text {
  font-family: $roboto;
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
  letter-spacing: 0%;
}

@mixin menu-card-title {
  @include menu-sidebar-text;
  line-height: 18.2px;
}
