// reset mixins
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

@mixin reset-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
// reset h1-h6, p
@mixin reset-text {
  margin: 0;
}

@mixin reset-link {
  color: inherit;
  text-decoration: none;
}

@mixin reset-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

// typography mixins

//headline_large in past
@mixin text-headline-large-24-700 {
  $f-size: 24px;
  font-family: $roboto;
  font-weight: $font-bold;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * 0);
}

//headline_xlarge in past
@mixin text-headline-xlarge-40-700 {
  $f-size: 40px;
  font-family: $roboto;
  font-weight: $font-bold;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * 2);
}

@mixin text-search-14-400 {
  $f-size: 14px;
  font-family: $roboto;
  font-weight: $font-regular;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * 0);
}

@mixin text-button-16-400 {
  $f-size: 16px;
  font-family: $roboto;
  font-weight: $font-regular;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * 0);
}

@mixin text-capslock-12-500 {
  $f-size: 12px;
  font-family: $roboto;
  font-weight: $font-medium;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * 2);
}

//tiny-text in past
@mixin text-tiny-12-400 {
  $f-size: 12px;
  font-family: $roboto;
  font-weight: $font-regular;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * -2);
}

@mixin text-menu-header-16-500 {
  $f-size: 16px;
  font-family: $roboto;
  font-weight: $font-medium;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * 0);
}

@mixin text-menu-tabbar-18-400 {
  $f-size: 18px;
  font-family: $roboto;
  font-weight: $font-regular;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * 0);
}

//menu-sidebar-text in past
@mixin text-menu-sidebar-14-500 {
  $f-size: 14px;
  font-family: $roboto;
  font-weight: $font-medium;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * 0);
}

@mixin text-big-24-400 {
  $f-size: 24px;
  font-family: $roboto;
  font-weight: $font-regular;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 150);
  letter-spacing: calc($f-size / 100 * 0);
}

@mixin text-medium-16-500 {
  $f-size: 16px;
  font-family: $roboto;
  font-weight: $font-medium;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * 0);
}

@mixin text-regular-16-400 {
  $f-size: 16px;
  font-family: $roboto;
  font-weight: $font-regular;
  font-size: $f-size;
  line-height: calc($f-size / 100 * 130);
  letter-spacing: calc($f-size / 100 * 0);
}

//other

@mixin button_default {
  @include text-button-16-400;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 8px;
}

@mixin page-title-default {
  @include reset-text;
  @include text-headline-xlarge-40-700;
  margin-bottom: 40px;
}

@mixin logo-text {
  font-family: $roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.6px;
}
