@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.container {
  width: 100%;
}

.title {
  @include page-title-default;
}

.message {
  @include reset-text;
  @include text-big-24-400;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.button {
  margin-top: 40px;
}

.idp_list {
  @include idp_list;
}
