.content {
  max-width: 1016px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: max-width 0.4s;
  margin-top: 80px;
}

.content_main_gallery {
  max-width: 912px;
}

.input_small {
  top: 100px;
  right: 0;
  width: 184px;
}
