@import "../../../styles/const.scss";

.label {
  position: relative;
}

.label_text {
  position: absolute;
  z-index: 100;
  top: 7.5px;
  left: 12px;
  font-family: $roboto;
  margin: 0;
  color: $dark-gray;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
}

.select {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: $light-gray;
  font-family: $styrene;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.06em;
  text-align: left;
}

.input:after {
  content: "";
  position: absolute;
  border-color: $black;
  border-style: solid;
  border-width: 0 3px 3px 0;
  height: 8.84px;
  width: 8.84px;
  right: 24px;
  top: 50%;
  transform: translate(0%, -50%) rotate(45deg);
}

.input_open:after {
  transform: translate(0%, -50%) rotate(-135deg);
}

.wraper {
  width: 100%;
  position: relative;
}

.dropDown {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 9px 56px 0px #0000001a;
  border: none;
  background-color: $white;
  top: calc(100% + 4px);
  z-index: 1000;
  overflow: hidden;
}

.optionWraper {
  max-height: calc(48px * 5);
  overflow: auto;
  scrollbar-color: $dark-gray $white;
  scrollbar-width: thin;
}

.optionWraper::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

.optionWraper::-webkit-scrollbar-track {
  background: $white;
}

.optionWraper::-webkit-scrollbar-thumb {
  background: $dark-gray;
  width: 30%;
  border-radius: 10px;
}

.dropDownItem {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding-left: 12px;
  cursor: pointer;
}
.dropDownItem_text {
  margin: 0;
  font-family: $styrene;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.06em;
  text-align: left;
}

.dropDownItem:hover {
  background-color: $light-gray;
}

.dropDownItem_select {
  background-color: $status-green-10;
}

.dropDownItem_disabled {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding-left: 12px;
  color: $critical-color;

  :hover {
    background-color: $white;
  }

  :after {
    content: " (недоступно для выбора)";
  }
}

.select:focus + .wraper .input {
  border-color: $dark-gray;
}

.placeholder {
  color: $dark-gray;
  letter-spacing: 0.08px;
}

.overlay {
  position: absolute;
  opacity: 0.2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
