@import '../../../styles/const.scss';
@import '../../../styles/mixins.scss';

.button {
  @include reset-button;
  @include button_default;
  background-color: $button-accent;
  color: $white;

  &:hover {
    background-color: $button-accent-hover;
  }

  &:active {
    background-color: $button-accent-pressed;
  }

  &:disabled {
    cursor: default;
    color: $medium-gray;
    background-color: $button-accent-disabled;
  }
}