@import "../../const.scss";

.check_input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check {
  display: block;
  position: relative;
  width: fit-content;
  font-size: 25px;
  padding-left: 1.2em;
}

.checkbox {
  position: absolute;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-left: -1.2em;
  border: 1px solid $dark-gray;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  padding-top: 6px;
}

.check_input:checked + .checkbox {
  background-image: url(./checked.svg);
  background-color: $status-green-100;
  border-color: $status-green-100;
}

.check_input:focus + .checkbox {
  outline: 1px solid #4b4b4b;
}

.check_input:disabled + .checkbox {
  background-color: $medium-gray;
}

.check_input:disabled:checked + .checkbox {
  border-color: $status-green-10;
  border-color: $dark-gray;
}
