@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.content {
  max-width: 194px;
  width: 100%;
  transition: max-width 0.4s;
}

.content_main_gallery {
  max-width: 288px;
}

.title {
  @include reset-text;
  @include text-tiny-12-400;
  text-transform: uppercase;
  color: $dark-gray;
  font-weight: 400;
  margin: 0 0 12px 12px;
}

.button {
  @include reset-button;
}
