@import '../../styles/const.scss';
@import '../../styles/mixins.scss';

.button_list {
  @include reset-list;
  overflow: hidden;
  display: inline-block;
  min-width: 184px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0px 9px 56px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 8;
  visibility: hidden;
  height: 0px;
  transition: height 0.4s;
  white-space: nowrap;
}

.button_list_active {
  height: auto;
  visibility: visible;
}

.button_list_item {
  @include reset-button;
  @include text-regular-16-400;
  line-height: 24px;
  text-align: start;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  &:hover {
    background-color: $light-gray;
  }
}

.button_list_item_red {
  color: $critical-color;
}
