@import '../../styles/const.scss';
@import '../../styles/mixins.scss';

.link {
  @include reset-link;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  border-radius: 8px;
  column-gap: 12px;
  align-items: center;
  &:hover {
    background-color: $light-gray;
  }
  &:active {
    background-color: $gray;
  }
}

.link_active {
  background-color: $gray;
}

.link_gray {
  color: $dark-gray;
}

.link_main {
  height: 48px;
}

.svg {
  width: 20px;
  height: 20px;
}

.svg_main {
  width: 24px;
  height: 24px;
}

.text {
  @include text-menu-sidebar-14-500;
  margin: 0;
  line-height: 24px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
