@import '../../styles/const.scss';
@import '../../styles/mixins.scss';

.link {
  @include reset-link;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  border-radius: 8px;
  column-gap: 12px;
  align-items: center;
  &:hover {
    background-color: $light-gray;
  }
}

.link_gray {
  color: $dark-gray;
}

.img {
  width: 24px;
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}

.text {
  @include menu-sidebar-text;
  margin: 0;
  line-height: 24px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
