@import '../../styles/const.scss';
@import '../../styles/mixins.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}

.title {
  @include reset-text;
  @include page-title-default;
  margin: 0;
}

.header_wrapper {
  width: 100%;
  display: flex;
  column-gap: 35px;
  align-items: flex-end;
  margin-bottom: 24px;
}

.links_container {
  display: flex;
  column-gap: 12px;
  align-items: center;
}
