@import '../../styles/mixins.scss';
@import '../../styles/const.scss';

.link {
  @include reset-link;
  @include text-menu-sidebar-14-500;
  padding: 12px 20px;
  border-radius: 32px;
  background-color: $gray;
  color: $black;
}

.link_black {
  background-color: $black;
  color: $white;
}
